<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'base.html' %}
{% load static %}
{% block content %}




 &nbsp;&nbsp; 
 &nbsp;&nbsp; 
 &nbsp;&nbsp; 

<form class="form-area contact-form text-right"   method="POST">
								{% csrf_token %}
								
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									<br>
										<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">
                                    <br>
										<input name="subject" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
									<br>
							
										<textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required="" TYPE=></textarea>				
									
										
										<button class="genric-btn primary" style="float: right;">CONTACT</button>						
	                                
	                                <br><br>
                                    </form>
									
							
			





{% endblock %}